*{
    font-family:"Open Sans", Arial, sans-serif;
    margin: 0;
}

body{
    margin-top: -20px;
}

html {
    scroll-behavior: smooth;
  }

  .left_side{
      padding-top: 20px;
      width: 20%;
      float: left;
  }

  .right_side{
    width: 80%;
    float: right;
}


h2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.header_text{
position: fixed;
width: 20%;
padding-top: 20px;
padding-bottom: 20px;
}

.navLinks{
    position: fixed;
    width: 20%;
    margin-top: 60px;
}

.navLinks {
    color: rgb(77, 78, 83)
}

.navLinks a:visited{
    color: rgb(77, 78, 83)
}

#main-doc{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-left: 3px solid rgb(247, 247, 247);
    
}

p{
    line-height: 25px;
    padding-left: 30px;
    color: rgb(77, 78, 83)
}

li{
    line-height: 25px;
    margin-left: 50px;
    color: rgb(77, 78, 83)
}

#navbar a{
    font-size: 15px;
    /* display each element on a new line
    display: block
    */
    display: block;
    text-decoration: none;
    cursor: pointer;
    /* border-style: solid;
    border-width: 3px;
    border-color: black; */
    padding: 10px 30px;
}

hr.HrNav{
    border: 0.5px solid grey;
}

.jsCode{
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 5px;
}
