*{
    font-family:"Open Sans", Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
  }

  .left_side{
      width: 20%;
      float: left;
  }

  .right_side{
    width: 80%;
    float: right;
}

.header_text{
position: fixed;
top: 0;
background-color: green;
width: 20%;
}

.navLinks{
    background-color: red;
    position: fixed;
    width: 20%;
    margin-top: 100px;
}

#main-doc{
    background-color: wheat;
    padding: 20px;
}

p{
    line-height: 25px;
    padding-left: 30px;
}

li{
    line-height: 25px;
    margin-left: 50px;
}

#navbar a{
    font-size: 25px;
    /* display each element on a new line
    display: block
    */
    display: block;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 10px;
}

.jsCode{
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
}
