*{
    font-family:"Open Sans", Arial, sans-serif;
    margin: 0;
}

body{
    margin-top: -20px;
}

html {
    scroll-behavior: smooth;
  }

  .left_side{
      padding-top: 20px;
      float: left;
  }

  .right_side{
    width: 80%;
    float: right;
}

#main-doc{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-left: 5px solid rgb(192, 192, 192);
}


h2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.header_text{
position: fixed;
width: 20%;
padding-top: 20px;
padding-bottom: 20px;
float: left;
}


.navLinks{
    position: fixed;
    width: 20%;
    margin-top: 60px;
}

.navLinks {
    color: rgb(77, 78, 83)
}

.navLinks a:visited{
    color: rgb(77, 78, 83)
}



p{
    line-height: 25px;
    padding-left: 30px;
    color: rgb(77, 78, 83)
}

li{
    line-height: 25px;
    margin-left: 50px;
    color: rgb(77, 78, 83)
}

#navbar a{
    color: rgb(77, 78, 83);
    font-size: 13px;
    /* display each element on a new line
    display: block
    */
    display: block;
    text-decoration: none;
    cursor: pointer;
    /* border-style: solid;
    border-width: 3px;
    border-color: black; */
    padding: 10px 30px;
}

hr.HrNav{
    border: 0.5px solid grey;
}

.jsCode{
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 5px;
}


@media only screen and (max-width: 865px) {


    .header_text{
        background-color: lightcoral;
        width:100%;
        position: absolute;
        }

        .jsDocumentation{
            text-align: center;
        }
        
        
        .navLinks{
            background-color: lightgreen;
            width:100%;
            text-align: left;
            position: absolute;
        }

        .right_side{
            width: 100%;
        }

        #main-doc{
            background-color: lightcyan;
            margin-top: 290px;
            border-left: none;

        }
    }